.rdrCalendarWrapper {
  padding: 12px;
  top: 3.35rem;
  clip-path: polygon(
    6px 0,
    calc(100% - 6px) 0,
    100% 6px,
    100% calc(100% - 6px),
    calc(100% - 6px) 100%,
    6px 100%,
    0 calc(100% - 6px),
    0 6px
  );
  background: #f4ede9;
}

.rdrMonth {
  width: auto;
  height: auto;
  padding: 0;
}

.rdrNextPrevButton {
  margin: auto;
  border-radius: 2px;
  background: #ebddd5;
}

.rdrInRange,
.rdrStartEdge,
.rdrEndEdge {
  background-color: #ec4e20;
}

.rdrDateDisplayItemActive {
  border-color: #6e002b;
}

.rdrDayToday .rdrDayNumber span:after {
  background: #6e002b;
}

.rdrDayStartOfMonth .rdrInRange,
.rdrDayStartOfMonth .rdrEndEdge,
.rdrDayStartOfWeek .rdrInRange,
.rdrDayStartOfWeek .rdrEndEdge {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 2px;
}
.rdrDayEndOfMonth .rdrInRange,
.rdrDayEndOfMonth .rdrStartEdge,
.rdrDayEndOfWeek .rdrInRange,
.rdrDayEndOfWeek .rdrStartEdge {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  right: 2px;
}

.rdrDayStartPreview,
.rdrDayInPreview,
.rdrDayEndPreview {
  background: rgba(255, 255, 255, 0.25);
  position: absolute;
  top: 3px;
  left: 0px;
  right: 0px;
  bottom: 3px;
  pointer-events: none;
  border: none;
  z-index: 1;
}

.rdrEndEdge {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.rdrStartEdge {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 2px;
}

.rdrDayEndPreview {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.rdrDayStartPreview {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.rdrDateDisplayWrapper {
  background-color: #ebddd5;
  border-radius: 4px;
}
.rdrDayPassive .rdrDayNumber span {
  color: #ec4e20;
  opacity: 0.5;
}

.rdrWeekDay {
  font-weight: 400;
  line-height: 2.667em;
  color: #760933;
}

.rdrDayInPreview {
  border-radius: 2px !important;
}

.rdrDateDisplayItem {
  border-radius: 4px;
  background-color: #f4ede9;
  box-shadow: none;
  border: 2px solid transparent;
}

.rdrDayDisabled {
  background-color: #f4ede9;
}

.rdrDayDisabled .rdrDayNumber span {
  color: #f4ede9;
  background-color: #760933;
  opacity: 0.75;
  border-radius: 4px;
  padding: 0.5rem;
  line-height: 0.5rem;
}

.rdrDayToday .rdrDayNumber span:after {
  background: #ec4e20;
}
