@import "tailwindcss";

@theme {
  --color-hdRed: #760933;
  --color-hdRedAccent: #6e002b;
  --color-hdOrange: #ec4e20;
  --color-hdYellow: #ff9505;
  --color-hdWhite: #f4ede9;
  --color-hdBlack: #23191d;

  --font-sans: "Karla", sans-serif;
  --font-serif: "Spectral", serif;
}

:root {
  @apply font-sans;
}

body {
  @apply bg-gray-300 text-gray-900 dark:bg-gray-900 dark:text-gray-100;
}

footer {
  @apply mt-8 p-4 border-t border-gray-400 dark:border-gray-700 text-center bottom-0 absolute;
}

.input-field {
  @apply p-2 text-hdBlack cursor-pointer bg-hdWhite text-base;
}

.radio-label {
  @apply flex flex-col items-center w-full;
}

.radio-label svg,
.radio-label span {
  @apply cursor-pointer p-1 text-hdWhite peer-checked:text-hdYellow transition-colors duration-500;
}

.radio-label span {
  @apply text-base uppercase font-sans tracking-widest;
}
